* {
  font-family: "Roboto", sans-serif;
}

.text-center {
  text-align: center;
}

html {
  margin: 0;
  padding: 0;
  background: #2b0505;
  background-image: url("images/header-yellow.webp");
  background-repeat: no-repeat;
  background-position: 103% -5%;
}

body {
  margin: 0;
}

.menu {
  max-width: 900px;
  margin: auto;
}

.title-container h1 {
  color: white;
  font-size: 64px;
  letter-spacing: 2px;
  font-weight: 400;
  margin: 80px 0px 0px;
}

.title-container img {
  position: relative;
  top: -40px;
}

.item-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0 3rem;
}

.item {
  display: flex;
  flex-direction: column;
  padding: 0.3rem;
  background: white;
  border-radius: 16px;
  margin: 16px;
}

.item img {
  border-radius: 16px;
}

.item-title {
  margin: 8px 16px;
  font-weight: 800;
}

.second-row {
  display: flex;
  justify-content: space-around;
  margin-bottom: 8px;
}

.second-row p {
  margin: 0;
}

.stars-container i {
  color: gold !important;
}

.price {
  font-weight: bold;
}

footer {
  height: 450px;
  background: no-repeat url("images/footer.png");
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.footer-contact {
  color: white;
  width: 380px;
  text-align: right;
  padding-right: 200px;
}

.footer-contact i {
  background-color: gold;
  border-radius: 100%;
  padding: 8px;
  font-size: 15px;
  color: #290405;
  margin-left: 8px;
}

@media screen and (max-width: 821px) {
  footer {
    height: 600px;
    background-position: bottom left;
    align-items: baseline;
    flex-direction: unset;
    justify-content: center;
    padding-top: 20px;
  }

  .footer-contact {
    width: 100%;
    text-align: center;
    padding-right: 0;
  }
}